
<header class="text-center mb-8 grid align-items-center color1">


  <div class="col-fixed md-6">
    <!-- Contenido del segundo elemento -->
    <universe-card-info></universe-card-info>
  </div>



    <!-- Contenido del tercer elemento -->
    <h1 class="col mr-8 text-center text-font">HEROES UNIVERSE</h1>
    <!-- <h1 class="text-center text-lg-left"> HEROES UNIVERSE</h1> -->




</header>






<main class="h-screen flex justify-content-center ">
  <router-outlet  ></router-outlet>


</main>




